<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create blog</h1>
<p>
    <a href="/">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-blog}" th:object="${blog}" method="post">

    <table>
        <tr>
            <td>Title of bolg:</td>
            <td><input type="text" th:field="*{topic}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{author}"/></td>
        </tr>
        <tr>
            <td>ecomerce:</td>
            <td><select name="ecomId" th:value="${ecomId}">
                <option value="" disabled selected>choose something</option>
                <th:block th:each="ecom : ${ecommerces}">
                    <option th:value="${ecom.id}" th:text="${ecom.name}"></option>
                </th:block>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create blog"></td>
        </tr>
    </table>
</form>
</body>
</html>