<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<title>Shop</title>
<body>
<nav th:fragment="nav" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand col-3 text-left pl-0" href="#">Shoping mall</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/shop">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="body ">
    <div class="container ">
        <div class="position-absolute container-fluid content bg-dark">
            <p>
                <a href="/shopping-cart">Your cart</a>
            </p>
            <table border="1">
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Add To Cart</td>
                </tr>
                <th:block th:each="product:${products}">
                    <tr>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td><a th:href="@{/add/__${product.id}__(action='list')}">Add To Cart</a></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>