<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout::header-create">
</head>
<body>
<div id="wrapper">
    <div th:replace="/layout::nav-top">
    </div>
    <nav th:replace="/layout/layout::nav-menu-list">
    </nav>
</div>
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Create show
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/cinema">Cinema</a></li>
            <li class="active">Show detail</li>
        </ol>

    </div>

    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-action">
                        <p>
                            <a href="/cinema" class="btn btn-danger">Back</a>
                        </p>
                        <div>
                            Movies Information
                        </div>
                    </div>
                    <div class="card-content">
                        <form th:action="@{/cinema/detail}"  th:object="${showCinema}" th:method="POST">
                            <input th:type="hidden" name="id" th:field="*{id}">
                            <table class="table">
                                <tr>
                                    <td>Id:</td>
                                    <td th:text="${showCinema.id}"></td>
                                </tr>
                                <tr>
                                    <td>Film:</td>
                                    <td th:text="${showCinema.movie.name}"></td>
                                </tr>
                                <tr>
                                    <td>date:</td>
                                    <td th:text="${showCinema.showDate}"></td>
                                </tr>
                                <tr>
                                    <td>Gender:</td>
                                    <td th:text="${showCinema.totalTicket}"></td>
                                </tr>
                            </table>
                        </form>

                        <div class="clearBoth"></div>

                    </div>
                </div>
            </div>
        </div>


        <!-- /.col-lg-12 -->
        <footer><p>Phan Ngọc Khải C0721G2: <a
                href="https://webthemez.com/admin-template/">Khaiphanngoc@gmail.com</a></p></footer>
    </div>
    <!-- /. PAGE INNER  -->
</div>

<!-- /. PAGE WRAPPER  -->
</div>
<th:block>
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/materialize/js/materialize.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/assets/js/morris/morris.js"></script>
    <script src="/assets/js/easypiechart.js"></script>
    <script src="/assets/js/easypiechart-data.js"></script>
    <script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>
    <!-- Custom Js -->
    <script src="/assets/js/custom-scripts.js"></script>
    <script>
        $(document).ready(function () {
            $('ul.tabs').tabs();
            $('.collapsible').collapsible({
                    accordion: false, // A setting that changes the collapsible behavior to expandable instead of the default accordion style
                    onOpen: function (el) {
                        alert('Open');
                    }, // Callback for Collapsible open
                    onClose: function (el) {
                        alert('Closed');
                    } // Callback for Collapsible close
                }
            );
        });
    </script>
</th:block>
</body>
</html>


