<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout::header-list">
</head>
<body>
<div id="wrapper">
    <div th:replace="/layout::nav-top">
    </div>
    <nav th:replace="/customer/layout::nav-menu-customer">
    </nav>
</div>

<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Customer list
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/customer">Customer</a></li>
            <li class="active">list</li>
        </ol>
    </div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="card">
                    <div class="card-content">
                        <div class="table-responsive">
                            <a th:href="@{/customer/create}" class="btn btn-primary">Add Customer</a>
                            <br/><br/>
                            <th:block th:if="${message}">
                                <p th:text="${message}" class="text-success"></p>
                            </th:block>
                            <table class="table table-striped table-bordered table-hover" id="dataTables">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>name</th>
                                    <th>birthDay</th>
                                    <th>gender</th>
<!--                                    <th>idCard</th>-->
                                    <th>phone</th>
<!--                                    <th>email</th>-->
                                    <th>address</th>
                                    <th>Customer type</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="customer : ${customers}">
                                    <td th:text="${customer.id}"></td>
                                    <td th:text="${customer.name}"></td>
                                    <td th:text="${customer.birthDay}"></td>
                                    <td th:text="${customer.gender}"></td>
<!--                                    <td th:text="${customer.idCard}"></td>-->
                                    <td th:text="${customer.phone}"></td>
<!--                                    <td th:text="${customer.email}"></td>-->
                                    <td th:text="${customer.address}"></td>
                                    <td th:text="${customer.customerType.name}"></td>
                                    <td>
                                        <a th:href="@{/showUpdateForm(id=${customer.id})}" class="btn btn-info">Update</a>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target= "'#target'+${customer.id}" >
                                            delete
                                        </button>
                                        <!-- Modal Dialog -->
                                        <div class="modal fade" th:id="'target'+${customer.id}" role="dialog" aria-labelledby="confirmDeleteLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title">Delete Parmanently</h4>
                                                    </div>
                                                    <div class="modal-body" style="height: 75px">
                                                        <p>Are you sure about this ?</p>
                                                        <th:block th:text="${customer.name}">
                                                        </th:block>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-danger" ><a th:href="@{customer/delete/{id}(id=${customer.id})}">delete</a>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

<!--                                        <div class="modal modal-content fade " style="background: red; height: 200px; width: 400px" th:id="'target'+${customer.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--                                            <div class="modal-dialog modal-dialog-centered" style="background: #0D47A1" role="document">-->
<!--                                                <div class="modal-content " style="background: green">-->
<!--                                                    <div class="modal-header bg-primary">-->
<!--                                                        <h5 class="modal-title" id="exampleModalLongTitle">Do you want to delete?</h5>-->
<!--                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                                            <span aria-hidden="true">&times;</span>-->
<!--                                                        </button>-->
<!--                                                    </div>-->
<!--                                                    <div class="modal-body">-->
<!--                                                        <th:block th:text="${customer.name}">-->
<!--                                                        </th:block>-->
<!--                                                    </div>-->
<!--                                                    <div class="modal-footer">-->
<!--                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                                        <button type="button" class="btn btn-secondary"><a th:href="@{customer/delete/{id}(id=${customer.id})}">delete</a></button>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>
        <!-- /. ROW  -->
        <footer><p>All right reserved. Template by: <a
                href="https://webthemez.com/admin-template/">WebThemez.com</a></p></footer>
    </div>
    <!-- /. PAGE INNER  -->
</div>

<script src="assets/js/jquery-1.10.2.js"></script>

<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/materialize/js/materialize.min.js"></script>

<!-- Metis Menu Js -->
<script src="assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="assets/js/morris/morris.js"></script>


<script src="assets/js/easypiechart.js"></script>
<script src="assets/js/easypiechart-data.js"></script>

<script src="assets/js/Lightweight-Chart/jquery.chart.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="assets/js/dataTables/jquery.dataTables.js"></script>
<script src="assets/js/dataTables/dataTables.bootstrap.js"></script>

<script>
    $(document).ready(function() {
        $("#dataTables").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>
<!-- Custom Js -->
<script src="assets/js/custom-scripts.js"></script>
</body>
</html>
