<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<a th:href="@{/create}">Add music</a>
<p th:if="${success}" >
    <span th:text="${success}" style="color: green"></span>
</p>
<table>
  <caption>Music List</caption>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name Song</th>
    <th>Singer</th>
    <th>Type</th>
    <th>url</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="m : ${musicList}">
    <td th:text="${m.id}"></td>
<!--    <td>-->
<!--      <a th:href="@{/music/{id}(id=${m.id})}" th:text="${m.getSong()}"></a>-->
<!--    </td>-->
    <td th:text="${m.getName()}"></td>
    <td th:text="${m.getSinger()}"></td>
    <td th:text="${m.getType()}"></td>
    <td>
      <a th:href="@{{url}(url=${m.getUrl()})}" >go to web site</a>
    </td>
    <td><a th:href="@{update/{m}(m=${m})}">Edit</a></td>
    <td><a th:href="@{delete/{id}(id=${m.id})}">Delete</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>