<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>$Title$</title>
<!--    <link rel="stylesheet" href="../static/bootstrap413/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .body{
            /*margin-top: 50px;*/
            background-image: url('https://icdn.dantri.com.vn/thumb_w/660/2021/06/15/1-1623720815168.jpg');
            height: 500px
        }

        .content{
            margin-top: 21px;
            width: 70%;
            height: 400px;
            border: 3px solid green;
        }
    </style>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
</head>
<body>
<nav th:fragment="nav" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand col-3 text-left pl-0" href="#">Shoping mall</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="body col-12 ">

</div>
<footer th:fragment="footer" class="text-center text-white fixed-bottom bg-dark">
    <div class="text-center p-3">
        C0721G2:
        <a class="text-white" href="#">Khaiphanngoc@gmail.com</a>
    </div>
</footer>
<script type="text/javascript" src="../static/bootstrap413/js/bootstrap.min.js"></script>
</body>
</html>