<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout::header-create">
</head>
<body>
<div id="wrapper">
    <div th:replace="/layout::nav-top">
    </div>
    <nav th:replace="/customer/layout::nav-menu-customer">
    </nav>
</div>
<div id="page-wrapper">
    <div class="header">

        <h1 class="page-header">
            Edit customer
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/customer">Customer</a></li>
            <li class="active">Edit</li>
        </ol>
    </div>

    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-action">
                        <p>
                            <a href="/customer" class="btn btn-danger">Back</a>
                        </p>
                        Basic Form Elements
                    </div>
                    <div class="card-content">
                        <form class="m-auto" th:action="@{/customer/edit}" th:object="${customer}" method="post">
                            <div class=" col s12">
                                <label>Id:</label><span style="color: red" th:if="${#fields.hasErrors('id')}"
                                                        th:errors="*{id}"></span>
                                <input type="text" th:field="*{id}"
                                       placeholder="Ex: KH-XXXX">
                            </div>
                            <div class=" col s12">
                                <label>name:</label><span style="color: red" th:if="${#fields.hasErrors('name')}"
                                                          th:errors="*{name}"></span>
                                <input type="text" th:field="*{name}"
                                       placeholder="Ex: Nguyen Van A">
                            </div>

                            <div class="col s2">
                                <label>Customer Type:</label>
                                <span style="color: red" th:if="${#fields.hasErrors('CustomerType')}"
                                      th:errors="*{CustomerType}"></span>
                                <select th:field="*{customerType}" class="form-control">
                                    <option value="">Choose customer type</option>
                                    <th:block th:each="customerType : ${customerTypeList}">
                                        <option th:value="${customerType.id}" th:text="${customerType.name}"></option>
                                        <span style="color: red" th:if="${#fields.hasErrors('customerType')}"
                                              th:errors="*{customerType}"></span>
                                    </th:block>
                                </select>
                            </div>

                            <!--                            <div class="col s12" >-->
                            <!--                                <label>Gender</label>-->
                            <!--                                <span>-->
                            <!--                                <input th:value="1" class="with-gap" name="gender" type="radio" id="male"/>-->
                            <!--                                <label for="male">Male</label>-->
                            <!--                            </span>-->
                            <!--                                <span>-->
                            <!--                                <input th:value="0" class="with-gap" name="gender" type="radio" id="female"/>-->
                            <!--                                <label for="female">Female</label>-->
                            <!--                            </span>-->
                            <!--                            </div>-->

                            <div class="col s2">
                                <label>Gender:</label>
                                <span style="color: red" th:if="${#fields.hasErrors('gender')}"
                                      th:errors="*{gender}"></span>
                                <select th:field="*{gender}" class="form-control" aria-label=".form-select-lg example">
                                    <option value="">Choose gender</option>
                                    <option th:value="1">Male</option>
                                    <option th:value="0">Female</option>
                                    <span style="color: red" th:if="${#fields.hasErrors('gender')}"
                                          th:errors="*{gender}"></span>
                                </select>
                            </div>


                            <div class="col s12">
                                <label>Day of birth:</label><span style="color: red"
                                                                  th:if="${#fields.hasErrors('birthDay')}"
                                                                  th:errors="*{birthDay}"></span>
                                <input type="date" th:field="*{birthDay}"
                                       placeholder="mm/dd/yy">

                            </div>

                            <div class=" col s12">
                                <label>Id card:</label>
                                <span style="color: red" th:if="${#fields.hasErrors('idCard')}"
                                      th:errors="*{idCard}"></span>
                                <input type="text" th:field="*{idCard}"
                                       placeholder="123456789">

                            </div>

                            <div class=" col s12">
                                <label>phone:</label><span style="color: red" th:if="${#fields.hasErrors('phone')}"
                                                           th:errors="*{phone}"></span>
                                <input type="text" th:field="*{phone}"
                                       placeholder="Ex:090xxxxxxx">

                            </div>

                            <div class=" col s12">
                                <label>email:</label><span style="color: red" th:if="${#fields.hasErrors('email')}"
                                                           th:errors="*{email}"></span>
                                <input type="text" th:field="*{email}"
                                       placeholder="Ex:vana@gmail.com">

                            </div>

                            <div class=" col s12">
                                <label>address:</label><span style="color: red" th:if="${#fields.hasErrors('address')}"
                                                             th:errors="*{address}"></span>
                                <input type="text" th:field="*{address}"
                                       placeholder="da nang">

                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary float-right">Save</button>
                            </div>
                        </form>

                        <div class="clearBoth"></div>

                    </div>
                </div>
            </div>
        </div>


        <!-- /.col-lg-12 -->
        <footer><p>All right reserved. Template by: <a href="https://webthemez.com/admin-template/">WebThemez.com</a>
        </p></footer>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<th:block>
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/materialize/js/materialize.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/assets/js/morris/morris.js"></script>
    <script src="/assets/js/easypiechart.js"></script>
    <script src="/assets/js/easypiechart-data.js"></script>
    <script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>
    <!-- Custom Js -->
    <script src="/assets/js/custom-scripts.js"></script>
    <script>
        $(document).ready(function () {
            $('ul.tabs').tabs();
            $('.collapsible').collapsible({
                    accordion: false, // A setting that changes the collapsible behavior to expandable instead of the default accordion style
                    onOpen: function (el) {
                        alert('Open');
                    }, // Callback for Collapsible open
                    onClose: function (el) {
                        alert('Closed');
                    } // Callback for Collapsible close
                }
            );
        });
    </script>
</th:block>
</body>
</html>
